<div class="ui card">
  <div class="ui small center aligned image">
    <img src="{{img}}">
        <img src="http://res.cloudinary.com/patrick86/image/upload/v1500020152/uzkb0zh7n2rpvoyngabo.jpg">

  </div>
  <div class="content">
    <p class="center aligned header">{{title}}</p>
    <div class="center aligned meta">
      <a href="/dashboard/deletepicture?img={{img}}">
        <i class="red icon trash"></i>
      </a>
    </div>
  </div>
</div>