 <div class="field">
    <h2 for="colorWell">Text Colour:</h2>
    <input onChange="colourChange(this.value)" type="color" value="#000000" id="colorWell">
    <p>
      Change Colours here! 
    </p>
    <p type="hidden">
      <span id="textColour">{{textColour}}</span>

    </p>

 </div>
<script>
  var colorWell;
  var defaultColor = "#0000ff";
  var textColour;

  window.addEventListener("load", startup, false);
  
  function colourChange(val){  
           
    var parentDOM = document.getElementById("bxslider100");

    document.getElementById('textColour').innerHTML = val;
    console.log(val + "  textColour with #");
    textColour = val.slice(1, 7);
    //removes hashtag for use in cloudinary address
    
    var images = parentDOM.getElementsByClassName("taggedImage");
    //     console.log(images);//HTMLCollection[number of images]
    for (i = 0; i < images.length; i++) { 

      var str = parentDOM.getElementsByClassName("taggedImage")[i].src; 
      console.log(str);

      var res = str.replace(/_rgb:[0-9a-f]+/, "_rgb:" + textColour);
      parentDOM.getElementsByClassName("taggedImage")[i].src = res;
      console.log("textColour set to " + textColour);
      console.log(res);

    }
  }      
    
  function startup() {
    colorWell = document.querySelector("#colorWell");
    colorWell.value = defaultColor;

  } 
  
</script>

 