<div class="field">
          <h2>Speed:</h2>
         
          <input id="reload-slider" style="width:400px" class="slider" type="range" min=".5" max="5"
                   value=".5" step=".5" onChange="sliderChange(this.value)" name="delay"/> 
                     
          Picture change after: <span id="sliderStatus">0.5</span> seconds
          
      </div>