{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Upload your <strong>photos</strong>
  </p>
  <p>
    Set your <strong>tag</strong> and <strong>speed</strong>
  </p>
  <p>
  Create your <strong>gif!</strong> 
  </p>
</section>