{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    This app lets you upload a selection of photos and 
  create a simple gif to cycle through your images at a speed of your choice
  </p>
</section>