{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Upload your <strong>images</strong>
  </p>
  <p>
    Set your <strong>logo</strong> (assign "logo" as the title of the image you wish you use)
  </p>
  <p>
  View your <strong>gif!</strong> 
  </p>
</section>