{{> menu id="dashboard"}}

<section class="ui segment">
  <h1 class="ui header">
    Welcome {{user.firstName}} {{user.lastName}}
  </h1>

  <section class="ui raised segment">
    <h3 class="ui header">
      Your Pictures:
    </h3>
    
    <div class="ui cards">
      {{#each album.image}}

        {{> card }}
      {{/each}}
    </div>
  </section>
  
  <div class="ui segment">
    <a href="/dashboard/deleteallpictures"> <button class="negative ui button">Delete All</button></a>
  </div>

  <section class="ui raised segment">
    <div class="ui small dividing header"> Picture Upload </div>
    <section class="ui raised form segment">
      <form action="/dashboard/uploadpicture" method="post" enctype="multipart/form-data">
        <div class="two fields">
          <div class="field">
            <label>Image</label>
            <input type="file" name="picture" required="required">  </input>
          </div>
        <div class="field">
            <label>Title</label>
            <input placeholder="..." type="text" name="tag">
          </div>
        </div>
        <button class="ui mini blue submit button"> Upload </button>
      </form>
    </section>
  </section>
  <section class="ui raised segment">
    <div class="ui small dividing header"> Gif Create </div>
    <section class="ui raised form segment">
          
        <div class="field">
            <label>Interval</label>
         
            <input style="width:400px" class="slider" type="range" min=".5" max="5"
                   value="3" step=".5" onChange="sliderChange(this.value)" name="delay"/> 
          <br />
           
          Picture change after: <span id="sliderStatus">3</span> seconds
          
        </div>
        <div>
         <ul class="bxslider">
          {{#each album.image}}
          <li><img src="{{split}}upload/l_zxycltaajhdangnzkyfu,w_0.4,c_scale,g_north_east{{split1}}" title="Blue Lizard"/></li>
          {{/each}}
         </ul>
        </div>
             <h2><a href="" id="reload-slider">RELOAD SETTINGS</a></h2>
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'horizontal',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: true,
                            slideWidth: 660,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 3000,
                            speed: 3000,
                            auto: true,
                        });
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
                  
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'horizontal',
            auto: true,
            slideWidth: 660,
            captions: true,
            pause: delay*1000

           });
     });
      </script>

    </section>
  </section>
 

</section>