{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to StitcherAds
  </h1>
  <p>
    This template includes simple user accounts
  </p>
</section>
<section class="ui center aligned middle aligned segment">
  <img src="https://fontmeme.com/permalink/180308/4268195be81e3e0c0bce30082a1ea216.png"/>

</section>